<p-scrollpanel class="" [style]="{ height: '600px' }">
  <ul class="m-0 p-0 list-none p-4 flex flex-col gap-2 w-full">
    <li
      *ngFor="let file of files() | keyvalue"
      class="p-2 hover:bg-surface-100 dark:hover:bg-surface-800 border border-transparent rounded transition-all transition-duration-200"
      [ngClass]="{
        'bg-surface-100 dark:bg-surface-800': file.value.stage! > 0,
      }"
    >
      <app-player [file]="file.value"></app-player>
    </li>
  </ul>
</p-scrollpanel>
