<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main relative card flex justify-stretch w-full h-full">
  <div class="w-full px-6 fixed left-0 top-2 z-50">
    <app-toolbar class="container"></app-toolbar>
    <!-- <router-outlet name="toolbar"></router-outlet> -->
  </div>

  <div class="w-full relative left-0 top-[70px]">
    <router-outlet name="primary"></router-outlet>
  </div>

  <div class="w-full fixed left-[10px] right-[10px] bottom-[10px] z-50">
    <p-speeddial
      direction="up"
      (click)="toggleNavigationPanel()"
      icon="pi pi-bars"
      size="small"
      [buttonProps]="{ severity: 'help', rounded: true, size: 'small' }"
      class="absolute left-[8px] bottom-[0px]"
    ></p-speeddial>
  </div>

  <app-navigation #navigation></app-navigation>
</main>
