<!-- <p-menubar [model]="items">
  <ng-template #start> </ng-template>
  <ng-template #item let-item let-root="root"> </ng-template>
  <ng-template #end>

  </ng-template>
</p-menubar> -->

<div class="card max-w-full grid grid-cols-6 gap-4">
  <div class="col-start-1 col-end-6 justify-self-stretch"></div>
  <div class="col-start-6 col-end-7 justify-self-end">
    <p-button
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (click)="closeDialog({ buttonType: 'Close' })"
    />
  </div>
</div>
