#!/sbin/openrc-run

export CRI_DOCKERD_RUNTIME_DIR="${CRI_DOCKERD_RUNTIME_DIR:-/var/run/user/$(id -u)}"

description="CRI Interface for Docker Application Container Engine"
command="/usr/bin/cri-dockerd"
command_args="--container-runtime-endpoint fd:// ${command_args:-${CRI_DOCKERD_OPTS:-}}"
pidfile="${CRI_DOCKERD_PIDFILE:-${CRI_DOCKERD_RUNTIME_DIR}/${RC_SVCNAME}.pid}"
command_background=true

depend() {
    need docker
    need net
    use firewalld
    after docker firewalld
    provide cri-dockerd
}

start_pre() {
    if [ ! -d $CRI_DOCKERD_RUNTIME_DIR ]; then
        mkdir -pv $CRI_DOCKERD_RUNTIME_DIR
        chmod 0700 $CRI_DOCKERD_RUNTIME_DIR
        chown $(id -un):$(id -gn) $CRI_DOCKERD_RUNTIME_DIR
    fi
    checkpath --directory --mode 0700 $CRI_DOCKERD_RUNTIME_DIR
}

respawn_delay=2
respawn_max=3
respawn_period=60

# Resource limits
#rc_ulimit="-n unlimited -u unlimited -c unlimited"

# Optional: for compatibility with KillMode=process
supervisor=supervise-daemon
