<div class="flex flex-wrap p-2 items-center gap-4">
  <div class="w-16 shrink-0 rounded">
    <!-- <i class="pi pi-file text-grey-500"></i> -->
    <p-skeleton styleClass="mb-1" />
    <p-skeleton height="0.5rem" width="4rem" styleClass="mb-1" />
    <p-skeleton height="0.5rem" width="1.5rem" styleClass="mb-1" />
    <p-skeleton height="0.5rem" styleClass="mb-1" />
  </div>

  <div *ngIf="loaded() == true" class="flex-1 flex flex-col gap-1">
    <p-panel toggler="icon" [collapsed]="!f().isCompleted" [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex flex-wrap items-start gap-1">
          <div class="flex-16 flex w-full">
            <span class="font-bold">{{ f().path }}</span>
          </div>

          @if (!f().isCompleted) {
            <div class="flex-16 flex justify-start w-full">
              <span class="font-medium text-sm">
                <p-button
                  type="button"
                  [label]="f().size || 0 | filesize"
                  icon="pi pi-download"
                  [raised]="true"
                  [rounded]="true"
                  severity="secondary"
                  size="small"
                  [loading]="f().stage! > 0"
                  (onClick)="handleItemSelect($event, f())"
                />
              </span>
            </div>
          }
        </div>
      </ng-template>

      <p-card [dt]="cardStyles">
        <video
          #videoEl
          class="video-js vjs-default-skin"
          controls
          preload="auto"
          crossorigin="anonymous"
        >
          <source
            src="{{ baseURL() }}/{{ f().nodeId }}/{{ f().fileKey }}.mp4"
            type="video/mp4"
          />

          @for (sub of f().subtitles; track $index) {
            <track
              class="hidden"
              kind="captions"
              src="{{ baseURL() }}/{{ f().nodeId }}/{{ f().fileKey }}.{{
                sub.lang_code
              }}{{ sub.stream_index }}.vtt"
              srclang="{{ sub.lang_code }}"
              label="{{ sub.lang_title }}"
              [default]="sub.lang_code == 'eng'"
            />
          }
        </video>
      </p-card>
    </p-panel>
  </div>
</div>

@if (loaded() == true && f().isProgressing) {
  <div class="flex flex-wrap gap-1 items-center pb-3">
    <div class="card flex justify-start h-3 w-full">
      <p-progressbar
        [value]="f().message"
        [mode]="f().isDownloading ? 'determinate' : 'indeterminate'"
        [style]="{ height: '16px' }"
      >
        <ng-template pTemplate="content" let-value>
          <span>{{ value | mypercent: 5 | percent }}</span>
        </ng-template>
      </p-progressbar>
    </div>

    @if (!f().isDownloading) {
      <div class="flex justify-start h-2 w-full">
        <p-message severity="secondary" size="small" variant="simple">
          <span>{{ f().message }}</span>
        </p-message>
      </div>
    }
  </div>
}
