<video
  #target
  class="video-js vjs-default-skin"
  controls
  preload="none"
  playsinline
  data-setup='{ "html5" : { "nativeTextTracks" : false }, "fluid": true, "fill": true }'
>
  <source src="http://192.168.56.55:4150/678bb5a27e785308b9e937a3/9e4095203ae99f1efb34ddaf399671e78c485cd1.mp4" type="video/mp4" />
  <track
    kind="captions"
    src="http://192.168.56.55:4150/678bb5a27e785308b9e937a3/9e4095203ae99f1efb34ddaf399671e78c485cd1.eng.vtt"
    srclang="en"
    label="English"
    default
  />
</video>
