<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible" styleClass="!w-[30rem]">
    <ng-template #headless>
      <div class="flex flex-col h-full">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <span class="inline-flex items-center gap-2">
            <span class="block mx-auto"></span>
            <span class="font-semibold text-2xl text-primary">Your Logo</span>
          </span>
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              styleClass="h-8 w-8"
            ></p-button>
          </span>
        </div>
        <div class="overflow-y-auto">
          <p-tree
            [value]="treeNodes"
            styleClass="w-full"
            [lazy]="true"
            selectionMode="single"
            [loading]="!loaded()"
            (onNodeSelect)="handleNodeSelect($event)"
          />
        </div>
      </div>
    </ng-template>
  </p-drawer>
</div>
